
<section>
<img src="assets\img\logo matheus.png">
<nav>
   <a routerLink="/Home"> Home</a>
   <details>
    <summary>Administração</summary>
    <div>
        <a href="add-user" routerLink="/cadUsuario">usuário</a>
        <a routerLink="/cadMaterial">Material</a>
        <a href="delete-user">Produto</a>
    </div>
    
   </details>
   <details>
    <summary>Pomar</summary>
    <div>
        <a href="Cadastro">Cadastro</a>
        <a href="movimento">movimento</a>
        <a href="delete-material">colheita</a>
    </div>
    
   </details>
</nav>
</section>